
//==========  Utility classes ==========//

// subtle 'fade in' to the lazyloaded image
[data-lazy] {
    @apply opacity-0 w-full;
    transition: opacity 0.25s ease-in;
    min-height: 120px;
}

.loaded {
    @apply opacity-100;
}

// 'container' helper class
.inner {
    @apply w-full max-w-6xl ml-auto mr-auto px-6;
}

// syntax highlighting (prismJS)
.highlight-line {
    display: inline-block;
    /* del, ins, mark default styles */
    text-decoration: none;
    color: inherit;
}
/* allow highlighting empty lines */
.highlight-line:empty:before {
    content: " ";
}
.highlight-line:not(:last-child) {
    min-width: 100%;
}
.highlight-line .highlight-line:not(:last-child) {
    min-width: 0;
}
.highlight-line-active {
    background-color: rgba(169, 169, 169, 0.671);
    text-shadow: none;
}
  